.parent{
	background-color: #f7f7f7;
}

.container{
	width: 98%;
	height: 8.75rem;
	/* background-color: #F2F6FC; */
	background-color: white;
	border-radius: 0.3125rem;
	margin-top: 20px;
	margin-left: 0.1875rem;
	margin-right: 0.1875rem;
	position: relative;
	display: flex;
	flex-direction: row;
}

.container image{
	/* top: 0.1875rem; */
	top: 0.3125rem;
	left: 0.3125rem;
	width: 40%;
	height: 90%;
	display: block;
}

.container .content{
	padding-left: 0.3125rem;
	top: 0.3125rem;
}
.container .content text{
	display: block;
	margin: 0.3125rem;
	/* margin-bottom: 0.625rem; */
	margin-bottom: 5rpx;
}
